// Vars
$menuHeight: 51px;

body#bookmarklet {
  margin: 0px;
  padding: 0px;
}

body#bookmarklet > header {
  font: 14px/1 "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace;
  color: #fff;
  text-shadow: 0 -1px 0 #000;
  background-color: #000;
  width: 100%;

  @include background(linear-gradient(rgba(#343434,.75), rgba(#242424,.75)));
  @include box-shadow(inset 0 1px 0 #5f6164, inset 0 -1px 0 #2e2f2f, 0 1px 3px rgba(#000,.3));

  position: fixed;
  top: 0px;
  height: $menuHeight;
  z-index: 100;

  a {color: #fff}

  .info {
    color: #EEE;
    position: absolute;
    z-index:1;
    left: 8px;
    line-height: $menuHeight;
    font-size: 11px;
  }

  .close {
    @include border-radius(4px);

    color:#EEE;
    position:absolute;
    z-index:1;
    top:8px;
    right:8px;
    border:1px solid #363738;
    a {
      @include background(linear-gradient(rgba(#343434,1), rgba(#242424,1)));
      @include box-shadow(inset 0 1px 0 #3c3c3c);
      @include border-radius(4px);

      text-decoration:none;
      border:1px solid #040404;
      float:left;
      display:block;
      width:30px;
      height:30px;
      outline:none;
      line-height:30px;
      text-transform:uppercase;
      font-size:16px;
      text-align:center;
      &:hover{
          @include background(linear-gradient(rgba(#313131,1), rgba(#242424,1)));
      }
    }

    a.active, a:active{
        @include background(linear-gradient(rgba(#1C1C1C,1), rgba(#242424,1)));
        @include box-shadow(inset 0 1px 0 #242424);
        outline:none;
        span{opacity:1;}
    }
  }
  #views {
    @include border-radius(4px);
    @include transition(all 200ms ease);

    position:absolute;
    z-index:1;
    top:8px;
    left:50%;
    margin-left:-104px;
    border:1px solid #363738;
    a:first-of-type {
      @include border-radius(4px 0 0 4px);
    }
    a:last-of-type {
      @include border-radius(0 4px 4px 0);
      border-right-width:1px;
    }
    a {
      @include background(linear-gradient(rgba(#313131,1), rgba(#242424,1)));
      @include box-shadow(inset 0 1px 0 #3c3c3c);

      text-decoration:none;
      border:1px solid #040404;
      border-right-width:0;
      float: left;
      display:block;
      height:30px;
      outline:none;
      &:hover{
        @include background(linear-gradient(rgba(#2c2c2c,1), rgba(#242424,1)));
      }
    }

    a.active, a:active{
      @include background(linear-gradient(rgba(#1C1C1C,1), rgba(#242424,1)));
      @include box-shadow(inset 0 1px 0 #242424);
      outline:none;
      span{opacity:1;}
    }

    span{
      text-align:center;
      display:block;
      height:30px;
      opacity:.75;
      line-height:30px;
      text-transform:uppercase;
      font-size:10px;
      padding: 0px 8px;
    }
  }
}

body#bookmarklet #wrapper {
  position: absolute;
  top: $menuHeight;
  z-index: 3;
  width: 100%;
  height: 100%;

  .view {
    margin-left: 20px;
    margin-right: 20px;
  }

  iframe{
    width: 100%;
    height: 100%;
  }
}







