// Imports
@import "compass/css3";

body {
  margin-top: 20px;
}

#startURI {
  height: auto;
}

.thumbnail img {
  height: 280px;
  width: 100%;
}

.loading {
  background: url("../img/loading.gif") no-repeat left top transparent;
}
.loading-spinner {
  display: block;
  height: 16px;
  width: 16px;
}
.help-block {
  padding-left: 25px;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

@import "bookmarklet";