<html>
<head>
  <title></title>
  <meta charset="utf-8">

  <link rel="stylesheet" type="text/css" href="http://linkedmovie.hp.af.cm/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="http://linkedmovie.hp.af.cm/css/application.css" />

  <script src="http://code.jquery.com/jquery-2.0.0.min.js"></script>
  <script src="http://linkedmovie.hp.af.cm/bin/visualod.js"></script>
  <script type="text/javascript">
    visuaLOD.run(function ($rootScope) {
      $rootScope.startURI = "dbpedia.org/resource/The_Shawshank_Redemption";
      // loads views and template from this URL
      $rootScope.appRoot = "http://linkedmovie.hp.af.cm/";
      $rootScope.viewsPath = $rootScope.appRoot + "views/";

      $rootScope.views = ["actor", "person", "movie", "default"];
    });
  </script>
</head>

<body ng-controller="LDController" ng-class="{loading:loading}" class="container">

  <!-- tab menu -->
  <ul class="nav nav-tabs" id="tabmenu">
    <li ng-repeat="view in viewsData">
      <a ng-href="#{{view.id}}" data-toggle="tab">{{view.id}}</a>
    </li>
  </ul>

  <div class="tab-content">
    <div ng-repeat="view in viewsData" class="tab-pane" id="{{view.id}}"></div>
  </div>

  <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-tab.js"></script>
</body>
</html>