<html>
<head>
  <title></title>
  <meta charset="utf-8">

  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="css/application.css" />

<!--
  <script src="http://code.jquery.com/jquery-2.0.0.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular.min.js"></script>
  <script src="https://raw.github.com/digitalbazaar/jsonld.js/master/js/jsonld.js"></script>
-->

  <script src="js/vendor/jquery-2.0.0.min.js"></script>
  <script src="js/vendor/angular.min.js"></script>
  <script src="js/vendor/jsonld.js"></script>

  <script src="js/get_resource.js"></script>
  <script src="js/application.js"></script>

<!--
  <script src="bin/visualod.js"></script>
-->

  <script type="text/javascript">
    visuaLOD.run(function ($rootScope, $location) {
      // $rootScope.startURI = "dbpedia.org/resource/V_for_Vendetta_(film)";
      // $rootScope.startURI = "dbpedia.org/resource/Kick-Ass_(film)";
      // $rootScope.startURI = "dbpedia.org/resource/The_Shawshank_Redemption";
      // $rootScope.startURI = "data.linkedmdb.org/resource/film/2014";
      // $rootScope.startURI = "www.3kbo.com/examples/rdfa/simple.html";
      $rootScope.startURI = "http://sws.geonames.org/2988507/";

      $rootScope.startURI = ($location.search()).uri || $rootScope.startURI; // get param /#?uri=

      $rootScope.viewsPath = "views/";
      $rootScope.views = ["actor", "person", "movie", "movie_lmdb", "place", "default"];
    });

    /**
     * It's also possible to change the startURI (or views) afterwards with visuaLOD.run
     */
    visuaLOD.run(function ($rootScope) {
      $rootScope.startURI = "dbpedia.org/resource/V_for_Vendetta_(film)";
    });
  </script>



</head>
<body>

  <div class="container" ng-controller="LDController">

    <a ng-show="prevResource" ng-click='changeResource(prevResource)' href=''>back</a>

    <div class="control-group" ng-class="{error:urierror, warning:warning}">

      <form ng-submit="init()" class="form-inline">
        <div class="input-append">
          <input id="startURI" type="text" ng-model="startURI"
            placeholder="Enter an URI here"
            class="input-xxlarge" />
          <input class="btn" type="submit" value="go" />
        </div>


        <span class="help-inline">
          eg: <a ng-click='changeURI("http://dbpedia.org/resource/Fight_Club")' href=''>http://dbpedia.org/resource/Fight_Club</a>
        </span>

        <span ng-show="warning" class="help-block">
          <small>not possible to get any data :(</small>
        </span>

        <span ng-show="urierror" class="help-block">
          <small>sorry this is not a valid URL</small>
        </span>

        <span ng-hide="warning || urierror" class="help-block ng-cloak" ng-class="{loading:loading}">
          <small>{{count || 0}} resouces loaded</small>
        </span>

      </form>
    </div>

    <!-- tab menu -->
    <ul class="nav nav-tabs" id="tabmenu">
      <li ng-repeat="view in viewsData">
        <a ng-href="#{{view.id}}" data-toggle="tab">{{view.id}}</a>
      </li>
    </ul>

    <div class="tab-content">

      <div ng-repeat="view in viewsData" class="tab-pane" id="{{view.id}}">
      </div>

    </div>

  </div>

  <div class="navbar navbar-fixed-bottom">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">visuaLOD Demo</a>
        <ul class="nav">
          <li>
            <a href="javascript:(function () {
              var js = document.createElement('script');
              js.setAttribute('src', 'http://linkedmovie.hp.af.cm/bookmarklet.js');
              document.body.appendChild(js);
            }());" style="cursor: move;" title="Drag this link into your bookmarks bar">
              <i class="icon-bookmark"></i> Ѫ
            </a>
          </li>
          <li>
            <a href="https://bitbucket.org/srfgkmt/ld-view-builder">
              Source & Description
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap-tab.js"></script>

</body>
</html>