<div class='row-fluid'>
  <div class='span12'>
    <h2>{{geoname}}</h2>
    <p class='lead'>has lat: {{lat2 || lat}} and long: {{long2 || long}}</p>

    <img border="0" ng-src="//maps.googleapis.com/maps/api/staticmap?center={{lat2 || lat}},{{long2 || long}}&amp;zoom=14&amp;size=400x400&amp;sensor=false" alt="{{geoname}}">

  </div>
</div>

